@import "var";

.realtime-users-widget {
  background: #4285f4;
  color: white;

  .header {
    .value {
      @include mat-typography-level-to-styles($config, display-2);
      font-weight: 300;
      margin-top: $spacing/2;
    }
  }

  .section {
    flex: 1;
    display: flex;
    flex-direction: column;

    .heading {
      @include mat-typography-level-to-styles($config, caption);
      color: $light-secondary-text;
      border-bottom: 1px solid $light-dividers;
    }

    .canvas-content {
      max-width: 100%;
      display: flex;
      flex: 1;
      position: relative;
      padding-top: $spacing/2;
      padding-bottom: $spacing/2;
    }

    .pages {
      height: 86px;
      padding-top: $spacing/2;

      .page {

        & + .page {
          padding-top: $spacing/3;
        }
      }
    }
  }
}
