<fury-card fxFlex="auto">
  <fury-card-header>
    <fury-card-header-heading>
      {{ options.title }}
    </fury-card-header-heading>
    <fury-card-header-subheading>
      {{ options.subTitle }}
    </fury-card-header-subheading>

    <fury-card-header-actions>
      <button mat-icon-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </fury-card-header-actions>
  </fury-card-header>

  <fury-card-content>
    <div class="content">
      <canvas #canvas></canvas>
    </div>
  </fury-card-content>

  <fury-card-actions class="footer" fxLayout="row" fxLayoutAlign="start center">
    <div class="section" fxFlex="grow" fxLayout="column" fxLayoutAlign="center center">
      <div class="value">1096</div>
      <div class="label">Total Sales</div>
    </div>
    <div class="section" fxFlex="grow" fxLayout="column" fxLayoutAlign="center center">
      <div class="value">598</div>
      <div class="label">Top Categories</div>
    </div>
  </fury-card-actions>

  <fury-loading-overlay [isLoading]="isLoading"></fury-loading-overlay>
</fury-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon> settings</mat-icon>
    <span> Settings </span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon> more</mat-icon>
    <span> More Info </span>
  </button>
  <button mat-menu-item>
    <mat-icon> remove_circle</mat-icon>
    <span> Remove Widget </span>
  </button>
</mat-menu>
