<fury-card>
  <fury-card-header>
    <fury-card-header-heading>{{ options.title }}</fury-card-header-heading>
    <fury-card-header-subheading *ngIf="options.subTitle">{{ options.subTitle }}</fury-card-header-subheading>

    <fury-card-header-actions>
      <button mat-icon-button (click)="reload()">
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </fury-card-header-actions>
  </fury-card-header>

  <fury-card-content class="card-content">
    <fury-recent-sales-widget-table [data]="tableData" [columns]="tableOptions?.columns"
                                    [pageSize]="tableOptions?.pageSize"></fury-recent-sales-widget-table>

    <div class="content">
      <canvas #canvas></canvas>
    </div>
  </fury-card-content>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon> settings</mat-icon>
      <span> Settings </span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon> more</mat-icon>
      <span> More Info </span>
    </button>
    <button mat-menu-item>
      <mat-icon> remove_circle</mat-icon>
      <span> Remove Widget </span>
    </button>
  </mat-menu>

  <fury-loading-overlay [isLoading]="isLoading"></fury-loading-overlay>
</fury-card>
