@import "var";

$chat-header-height: 35%;
$chat-toolbar-height: 64px;

.chat {
  height: 100%;

  .header {
    width: 100%;
    min-height: $chat-header-height;
    max-height: $chat-header-height;
    background: #fff url('/assets/img/backgrounds/chat.png');
    background-size: cover;
    position: absolute;
  }

  .chat-drawer-container {
    height: 100%;
    width: 100%;
    max-width: 80%;
    margin-top: $chat-header-height/6;
    max-height: calc(100% - #{$chat-header-height/2});
    border-radius: $border-radius;

    @include media-xs {
      max-width: 95%;
    }
  }

  .chat-drawer {
    width: 100%;
    max-width: 280px;

    .toolbar {
      height: $chat-toolbar-height;
      min-height: $chat-toolbar-height;
      max-height: $chat-toolbar-height;
      padding-left: $padding-md;
      padding-right: $padding-md;
    }

    .contacts {
      .contact {
        position: relative;
      }
    }
  }

  .chat-drawer-content {
    overflow: hidden;

    .toolbar {
      height: $chat-toolbar-height;
      min-height: $chat-toolbar-height;
      max-height: $chat-toolbar-height;
      padding-left: $spacing;
      padding-right: $spacing;

      @include media-xs {
        padding-left: $spacing/3;
        padding-right: $spacing/3;
      }

      .name {
        @include mat-typography-level-to-styles($config, subheading-1);
      }

      .status {
        @include mat-typography-level-to-styles($config, body-1);
        line-height: 1.25;
      }
    }

    .messages-container {
      min-height: 0;
      // background: url('assets/img/backgrounds/arch-pattern.png') repeat;

      .messages {
        padding: $spacing;

        .chat-message {
          margin: $spacing/2 0;

          .message {
            padding: 8px;
            position: relative;
            box-shadow: 0 0 0 -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
            border-radius: $border-radius;
          }

          .partner {
            .message {
              margin-left: 12px;
            }
          }

          .me {
            .message {
              margin-right: 12px;
            }
          }
        }
      }
    }

    .reply {
      padding-left: $spacing;
      padding-right: $spacing;

      @include media-xs {
        padding-left: $spacing/3;
        padding-right: $spacing/3;
      }

      .reply-field {
        padding-top: $spacing/2;
        padding-bottom: $spacing/2;
      }
    }
  }
}

$height__chat-header: 150px;
$height__chat-toolbar: 64px;
$height__chat-container: calc(100% - #{$height__chat-header - $height__chat-toolbar});
