@import "var";

:host {
  display: block;
}

.title {
  @include mat-typography-level-to-styles($config, title);
  font-weight: 400;
}

.crumb, .link {
  text-decoration: none;
  transition: color $swift-ease-out-duration $swift-ease-out-timing-function;

  @include mat-typography-level-to-styles($config, body-1);
}

.link {
  cursor: pointer;
}

.chevron {
  font-size: 18px;
  height: 18px;
  width: 18px;
  margin-left: $spacing/4;
  margin-right: $spacing/4;
  user-select: none;
  cursor: default;
}
