@import "var";

.label {
  @include mat-typography-level-to-styles($config, caption);
  padding: $spacing/12 $spacing/3;
  white-space: nowrap;

  .indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}
