@import "var";

.page {
  height: 100%;
}

.toolbar {
  width: 100%;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  padding: $spacing/1.5 $spacing;
  background: url('/assets/img/backgrounds/calendar.jpg');
  background-size: cover;
  color: white;

  .title {
    @include mat-typography-level-to-styles($config, headline);
  }

  .mat-button {
    margin-left: 8px;
  }
}

.calendar-content {
  min-height: 0;
}
