<mat-list fxFlex="grow" furyScrollbar class="navigation">
  <div matSubheader>Inbox</div>
  <mat-list-item class="secondary-text" matRipple [routerLink]="['/apps/inbox/primary']" routerLinkActive="active">
    <mat-icon matListIcon>inbox</mat-icon>
    <div matLine [fxHide]="responsive" [fxShow.gt-sm]="responsive">Primary</div>
  </mat-list-item>

  <mat-list-item class="secondary-text" matRipple [routerLink]="['/apps/inbox/social']" routerLinkActive="active">
    <mat-icon matListIcon>group</mat-icon>
    <div matLine [fxHide]="responsive" [fxShow.gt-sm]="responsive">Social</div>
  </mat-list-item>

  <mat-list-item class="secondary-text" matRipple [routerLink]="['/apps/inbox/promotions']" routerLinkActive="active">
    <mat-icon matListIcon>local_offer</mat-icon>
    <div matLine [fxHide]="responsive" [fxShow.gt-sm]="responsive">Promotions</div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item class="secondary-text" matRipple [routerLink]="['/apps/inbox/starred']" routerLinkActive="active">
    <mat-icon matListIcon>star</mat-icon>
    <div matLine [fxHide]="responsive" [fxShow.gt-sm]="responsive">Starred</div>
  </mat-list-item>

  <mat-list-item class="secondary-text" matRipple [routerLink]="['/apps/inbox/sent']" routerLinkActive="active">
    <mat-icon matListIcon>send</mat-icon>
    <div matLine [fxHide]="responsive" [fxShow.gt-sm]="responsive">Sent Mails</div>
  </mat-list-item>

  <mat-list-item class="secondary-text" matRipple [routerLink]="['/apps/inbox/drafts']" routerLinkActive="active">
    <mat-icon matListIcon>drafts</mat-icon>
    <div matLine [fxHide]="responsive" [fxShow.gt-sm]="responsive">Drafts</div>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item class="secondary-text" matRipple [routerLink]="['/apps/inbox/spam']" routerLinkActive="active">
    <mat-icon matListIcon>backspace</mat-icon>
    <div matLine [fxHide]="responsive" [fxShow.gt-sm]="responsive">Spam</div>
  </mat-list-item>

  <mat-list-item class="secondary-text" matRipple [routerLink]="['/apps/inbox/trash']" routerLinkActive="active">
    <mat-icon matListIcon>delete</mat-icon>
    <div matLine [fxHide]="responsive" [fxShow.gt-sm]="responsive">Trash</div>
  </mat-list-item>
</mat-list>
