<fury-card [style.background]="options.background" [style.color]="options.color">
  <fury-card-header class="header">
    <fury-card-header-heading [style.color]="options.color">{{ options.title }}</fury-card-header-heading>
    <fury-card-header-subheading [style.color]="options.color" class="subheading">
      <mat-icon *ngIf="options.gain >= 0">arrow_upward</mat-icon>
      <mat-icon *ngIf="options.gain < 0">arrow_downward</mat-icon>
      {{ options.gain }}% {{ options.subTitle }}
    </fury-card-header-subheading>

    <fury-card-header-actions>
      <button (click)="reload()" mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </fury-card-header-actions>
  </fury-card-header>

  <fury-card-content class="card-content">
    <canvas #canvas></canvas>
  </fury-card-content>

  <fury-loading-overlay [isLoading]="isLoading"></fury-loading-overlay>
</fury-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon> settings</mat-icon>
    <span> Settings </span>
  </button>
  <button disabled mat-menu-item>
    <mat-icon> more</mat-icon>
    <span> More Info </span>
  </button>
  <button mat-menu-item>
    <mat-icon> remove_circle</mat-icon>
    <span> Remove Widget </span>
  </button>
</mat-menu>
