<fury-page-layout mode="card">
    <!-- <fury-page-layout-header>
       <fury-breadcrumbs [@fadeInRight] [crumbs]="['Tables']" current="All-In-One Table"></fury-breadcrumbs>
     </fury-page-layout-header> -->

    <fury-page-layout-content [@fadeInUp]>
        <fury-list name="SureBet" [columns]="columns" (filterChange)="onFilterChange($event)">
            <!-- <div class="actions">
               <button class="create" (click)="createCustomer()" type="button" mat-mini-fab color="primary">
                 <mat-icon>add</mat-icon>
               </button>
             </div> -->

            <table [dataSource]="dataSource" mat-table matSort class="sure-bet-table">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!--&lt;!&ndash; Checkbox Column &ndash;&gt;-->
                <!--<ng-container matColumnDef="checkbox">-->
                    <!--<th *matHeaderCellDef class="actions-cell" mat-header-cell>-->
                        <!--<mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>-->
                    <!--</th>-->
                    <!--<td *matCellDef="let row" class="actions-cell" mat-cell>-->
                        <!--<mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>-->
                    <!--</td>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; Image Column &ndash;&gt;-->
                <!--<ng-container matColumnDef="image">-->
                    <!--<th *matHeaderCellDef class="image-cell" mat-header-cell></th>-->
                    <!--<td *matCellDef="let row" class="image-cell" mat-cell>-->
                        <!--<img src="http://i.pravatar.cc/30?u={{ row.name }}">-->
                    <!--</td>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; sport Column &ndash;&gt;-->
                <!--<ng-container matColumnDef="sport">-->
                    <!--<th *matHeaderCellDef class="sport-cell" mat-header-cell>Sport</th>-->
                    <!--<td *matCellDef="let row" class="sport-cell" mat-cell>-->
                        <!--{{ row.sport }}-->
                    <!--</td>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; eventname Column &ndash;&gt;-->
                <!--<ng-container matColumnDef="eventName">-->
                    <!--<th *matHeaderCellDef class="event-cell" mat-header-cell>Event</th>-->
                    <!--<td *matCellDef="let row" class="event-cell" mat-cell>-->
                        <!--<div fxLayout="column">-->
                            <!--<div class="event-name">{{ row.bkA.eventName }}</div>-->
                            <!--<div class="league-name">{{ row.bkA.leagueName }}</div>-->

                        <!--</div>-->
                    <!--</td>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; starttime Column &ndash;&gt;-->
                <!--<ng-container matColumnDef="time">-->
                    <!--<th *matHeaderCellDef class="time-cell" mat-header-cell>Time</th>-->
                    <!--<td *matCellDef="let row" class="time-cell" mat-cell>-->
                        <!--<div fxLayout="column">-->
                            <!--<div>{{ row.bkA.eventStartTime }}</div>-->
                            <!--<span class="score">{{ row.score }}</span>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</ng-container>-->

                <!-- bookername Column -->
                <ng-container matColumnDef="bookerName">
                    <th *matHeaderCellDef class="booker-cell" mat-header-cell>Booker</th>
                    <td *matCellDef="let row" class="booker-cell" mat-cell>
                        <div>{{ row.bkA.bkName }}</div>
                        <div>{{ row.bkB.bkName }}</div>
                    </td>
                </ng-container>

                <!--&lt;!&ndash; market Column &ndash;&gt;-->
                <!--<ng-container matColumnDef="market">-->
                    <!--<th *matHeaderCellDef class="market-cell" mat-header-cell>Market</th>-->
                    <!--<td *matCellDef="let row" class="market-cell" mat-cell>-->
                        <!--<div>{{ row.market }} : {{ row.period }}</div>-->
                    <!--</td>-->
                <!--</ng-container>-->

                <!-- odd Column -->
                <ng-container matColumnDef="odd">
                    <th *matHeaderCellDef class="odd-cell" mat-header-cell>Odd</th>
                    <td *matCellDef="let row" class="odd-cell" mat-cell>
                        <div class="clickable" (click)="openOddLink(row.bkA.url)">{{ row.bkA.odd }}</div>
                        <div class="clickable" (click)="openOddLink(row.bkB.url)">{{ row.bkB.odd  }}</div>
                    </td>
                </ng-container>

              <!--&lt;!&ndash; updated Column &ndash;&gt;-->
              <!--<ng-container matColumnDef="updated">-->
                <!--<th *matHeaderCellDef class="odd-cell" mat-header-cell>Debug</th>-->
                <!--<td *matCellDef="let row" class="odd-cell" mat-cell>-->
                  <!--<div>{{ row.changedAt  | amLocal }}</div>-->
                <!--</td>-->
              <!--</ng-container>-->

              <!-- percent Column -->
              <ng-container matColumnDef="percent">
                <th *matHeaderCellDef class="odd-cell" mat-header-cell>Debug</th>
                <td *matCellDef="let row" class="odd-cell" mat-cell>
                  <div>{{ row.percent }}</div>
                  <div>{{ row.age }}</div>
                </td>
              </ng-container>

              <!-- debug Column -->
              <ng-container matColumnDef="debug">
                <th *matHeaderCellDef class="odd-cell" mat-header-cell>Debug</th>
                <td *matCellDef="let row" class="odd-cell" mat-cell>
                  <div>{{ row.aggregatedEventId }}</div>
                </td>
              </ng-container>

              <!-- link Column -->
                <!--<mat-icon  >open_in_new</mat-icon>-->
                <ng-container matColumnDef="link">
                    <th *matHeaderCellDef class="link-cell" mat-header-cell>Url</th>
                    <td *matCellDef="let row" class="link-cell" mat-cell>
                        <div fxLayout="column">
                            <mat-form-field appearance="legacy" color="primary">
                                <input matInput value="{{ row.bkA.url }}" #userinputA >
                                <mat-icon (click)="copyToClipboard(userinputA)" class="clickable">file_copy</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="legacy">
                                <input matInput value="{{ row.bkB.url }}" #userinputB>
                                <mat-icon (click)="copyToClipboard(userinputB)" class="clickable">file_copy</mat-icon>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>

                <!--&lt;!&ndash; percent Column &ndash;&gt;-->
                <!--<ng-container matColumnDef="percent">-->
                    <!--<th *matHeaderCellDef class="percent-cell" mat-header-cell></th>-->
                    <!--<td *matCellDef="let row" class="percent-cell" mat-cell>-->
                        <!--<div fxLayout="column">-->
                            <!--<div class="percent">{{ row.percent }}</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</ng-container>-->

                <!--&lt;!&ndash; lifetime Column &ndash;&gt;-->
                <!--<ng-container matColumnDef="lifetime">-->
                    <!--<th *matHeaderCellDef class="percent-cell" mat-header-cell></th>-->
                    <!--<td *matCellDef="let row" class="percent-cell" mat-cell>-->
                        <!--<div fxLayout="column">-->
                            <!--<div class="life-time">{{ row.lifetime }}</div>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</ng-container>-->

                <!-- fullName Column -->
                <ng-container *ngFor="let column of columns">
                    <ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
                        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.name }}</th>
                        <td *matCellDef="let row" mat-cell>
                            {{ row[column.property] }}
                        </td>
                    </ng-container>
                </ng-container>

                <!-- actions Column -->
                <ng-container matColumnDef="bet-actions">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <!--<button type="button" mat-icon-button (click)="$event.stopPropagation()">-->
                        <!--<mat-icon>favorite_border</mat-icon>-->
                        <!--</button>-->
                        <!--<button type="button" mat-icon-button (click)="$event.stopPropagation()">-->
                        <!--<mat-icon>dialpad</mat-icon>-->
                        <!--</button>-->
                        <div fxLayout="column">
                            <button type="button" mat-icon-button (click)="$event.stopPropagation(); openBugReport()" matTooltip="Bug report" matTooltipPosition="above">
                                <mat-icon>bug_report</mat-icon>
                            </button>
                            <button type="button" mat-icon-button (click)="$event.stopPropagation(); deleteRow(row)" matTooltip="Hide">
                                <mat-icon>delete_forever</mat-icon>
                            </button>
                        </div>
                    </td>
                </ng-container>


                <!-- actions Column -->
                <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
                    <td *matCellDef="let row" class="actions-cell" mat-cell>
                        <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu"
                                (click)="$event.stopPropagation()">
                            <mat-icon>more_horiz</mat-icon>
                        </button>

                        <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                            <button (click)="updateCustomer(row)" mat-menu-item>
                                <span>Modify</span>
                            </button>
                            <button (click)="deleteCustomer(row)" mat-menu-item>
                                <span>Delete</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>

                <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                <tr *matRowDef="let row; columns: visibleColumns;"
                    class="route-animations-elements"
                    mat-row>
                </tr>

            </table>

            <mat-paginator class="paginator" [pageSize]="pageSize"></mat-paginator>

        </fury-list>

    </fury-page-layout-content>
</fury-page-layout>
