@import "var";

.clickable {
  cursor: pointer;
}

.mat-cell.sport-cell {
  width: 150px !important;
}

.sure-bet-table div {
  padding-bottom: 15px;
  padding-top: 15px;
  //color: $theme-text;
}

.mat-cell.odd-cell {
  max-width: 100px !important;
}

.mat-cell.market-cell {
  max-width: 150px !important;
}

.mat-cell.percent-cell {
  max-width: 100px !important;
  text-align: center;
}

.percent {
  font-size: larger;
}

.life-time {
  //font-size: smaller;
}

.mat-cell.link-cell {
  min-width: 350px !important;
  font-size: smaller;
}

.link-cell input {
  background-color: whitesmoke;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  color: #000000;
  padding: 3px;
}

.link-cell mat-form-field {
  width: 90%;
}

.link-field {
  width: 90%;
  padding: 3px;
}

.mat-cell .event-name {
  padding-bottom: 5px;
}

.mat-cell .league-name {
  padding-top: 0px;
  font-size: smaller;
  //color: $theme-text;
}

.time-cell {
  text-align: center;
}

.mat-cell .score {
  font-weight: lighter;
}

.actions-cell button {
  display: block;
}
